@charset "utf-8";
.width-150 {width:150px;}
.align-bottom {vertical-align: bottom;}
.narrowTextarea {width:240px; max-width:240px; height:18px;}
.wideTextarea {width:525px; max-width:525px; height:18px;}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 75%; 
  height: 100%;
  overflow:hidden;
  min-width: 720px;
  max-width: 1200px;
  
}
.resource-list{
	float:right; 
	margin-right: 40px;
}
#results .resource-list li {
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight:normal;
}
#results .resource-list p {
	font-size: 11pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
    margin-top:25px;
}

body{
	overflow-x: hidden;
	overflow-y: hidden;
	min-height:700px;
    font-family: verdana, helvetica, lucida-sans, sans-serif;
	color: #666666;
}

H1, H2, H3, H4, H5 {
    	font-style: normal;
	font-variant: normal;
        line-height: .95em;
}
H1 {
	font-size: 18pt;
}
H2 {
	font-size: 14pt;
}

H3 {
	font-size: 12pt;
}

H4 {
	font-size: 11pt;
}

H5 {
	font-size: 10pt;
}

H6 {
	font-size: 9pt;
}

p {
	font-size: 12pt;
}
span:hover {
	cursor:pointer;
	color: #ae0001;
}

.menu {
	color: #ffffff;
	float:right;
	font-size: 10pt;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	cursor:pointer;
	text-decoration: none;
}

#formMain{
	width:900px;
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
}
.data{
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
}
p.data{
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
}
.heads{
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
#login {
	position:absolute;
	left:75%;
	top:5px;
	width:60px;
	z-index:100;
	cursor:pointer;
	border-style:none;
}
#logout {
	visibility:hidden;
	position:absolute;
    left:75%;
	top:5px;
	width:60px;
	z-index:100;
	cursor:pointer;
	border-style:none;
}
#header {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:150px;
	border-style:none;
}
#grayBar {
	position:absolute;
	left:70px;
	top:0px;
	width:100%;
	height:50px;
	padding-top:20px;
	padding-left:80px;
	z-index:31;
	background-color:#333333;
	border-style:none;
}
#redBar {
	position:absolute;
	left:70px;
	top:50px;
	width:100%;
	height:30px;
	z-index:32;
	background-color:#ae0001;
	border-style:none;
}
#circle {
	position:absolute;
	width: 150px;
	height: 150px;
	z-index:33;
	background-color:#ffffff;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}
#logo {
	position:absolute;
	left:0px;
	top:0px;
	width: 150px;
	height: 151px;
	border-style:none;
	z-index:34;
}
#menuApply {
  position:absolute;
  left: 360px;
}
#menuTraffic {
  position:absolute;
  left: 200px;
}
#menuAbout {
  position:absolute;
  left: 120px;
}
#menuRecords {
	position:absolute;
	left: 60%;
	visibility:hidden;
}
#buttonResource {
	position:absolute;
	top:170px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	z-index:4;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusResource {
	position:absolute;
	cursor:pointer;
	top:185px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:6;
}
#minusResource {
	position:absolute;
	cursor:pointer;
	top:185px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#plusAge {
	position:absolute;
	cursor:pointer;
	top:245px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:6;
}
#minusAge {
	cursor:pointer;
	position:absolute;
	top:245px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#buttonAge {
	position:absolute;
	top:230px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	z-index:4;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusGender {
	cursor:pointer;
	position:absolute;
	top:305px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:6;
}
#minusGender {
	cursor:pointer;
	position:absolute;
	top:305px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#buttonGender {
	position:absolute;
	top:290px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	z-index:4;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusNational {
	cursor:pointer;
	position:absolute;
	top:365px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:6;
}
#minusNational {
	cursor:pointer;
	position:absolute;
	top:365px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#buttonNational {
    position:absolute;
	top:350px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	z-index:4;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#stopLink {
	position:absolute;
	color: #ffffff;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 100px;
	left: 300px;
	}
#menuResource {
	position:absolute;
	opacity:0;
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 225px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 260px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#minusLocation {
    visibility:hidden;
	cursor:pointer;
	position:absolute;
	top:425px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#plusLocation{
    visibility:hidden;
	cursor:pointer;
	position:absolute;
	top:425px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:6;
}
#buttonLocation {
    visibility:hidden;
    position:absolute;
	top:410px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	z-index:4;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#menuLogin {
	position:absolute;
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: -90px;
	left: 55%;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 90px;
	z-index:21;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuAge {
	position:absolute;
	opacity:0;
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 284px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 60px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuGender {
	position:absolute;
	opacity:0;
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 343px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 60px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuNational {
	position:absolute;
	opacity:0;
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 403px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 50px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuLocation {
	position:absolute;
	opacity:0;
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 463px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 90px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#newRecord {
	position:absolute;
	visibility:hidden;
	top: 170px;
	left: 210px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 720px;
	height: 55%;
	overflow:scroll;
	overflow-x:hidden;
	z-index: 20;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 25px;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 25px;
	border-top-left-radius:25px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:25px;
}
#results {
	position:absolute;
	top: 170px;
	left: 210px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 700px;
	height: 55%;
	overflow:scroll;
	overflow-x:hidden;
	z-index: 20;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 25px;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 25px;
	border-top-left-radius:25px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:25px;
}
#results p {
    margin-top:-5px;
}
#results h2, h5 {
	margin-top: -10px;
}

#results h1, #results h5 {
	color: #ae0001;
}

#results span {
	color: #ae0001;
	font-size: 10pt;
	font-style:normal;
}
#footerInfo {
    position:relative;
	top: 5px;
	text-align: center;
	width: 100%;
    color: #ffffff;
	font-size: 10pt;
	font-style:normal;
}
.footerLink {
    color: #ffffff;
	font-size: 10pt;
	font-style:normal;
	text-decoration: none;
	cursor:pointer;
}
#breadcrumbs {
	color: #ae0001;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	position:absolute;
	text-align:center;
	top: 90px;
	left: 210px;
	background: #ffffff;
	padding: 10px;
	width: 50%;
	height: 50px;
	z-index: 0;
}
.checkBox {
	cursor:pointer;
	background: #ffffff;
	border: 1px solid #666666;
	width: 10px;
	height: 10px;
	display:inline-block;
}
#openit {
	visibility:hidden;
    position:absolute;
	top:520px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#countyMI {

}
.buttonSubmit {
	width: 65px;
	height: 25px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
#closeMe{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1;
    -moz-opacity: 0;
    opacity:0;
    filter: alpha(opacity=0);
}
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    top: 20px;
    left: 210px;
    width: 55%;
    height: 90%;                 
    padding: 10px;
	padding-left: 30px;
    background: #ffffff;
    z-index:1002;
    overflow:visible;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:60px;
	padding-top:20px;
	z-index:31;
	background-color:#333333;
	border-style:none;
}



@media (max-width:1300px) and (min-width:0px){
	#results {
		width:600px;
	}
}

@media (max-width:1200px) and (min-width:0px){
	#results {
		width:550px;
	}
}
@media (max-width:1100px) and (min-width:0px){
	#results {
		width:500px;
	}
}
@media (max-width:1020px) and (min-width:0px){
	#results {
		width:450px;
	}
}

@media (max-width:900px) and (min-width:0px){
	#results {
		width:430px;
	}
	
	#topText {
		visibility:hidden;
	}
	H4 {
	
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
    }
    #closeMe{
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index: 1;
            backface-visibility: hidden;
    }
}







@media (max-height: 700px) {
 #footer {
		visibility:hidden;
	}
}







@media (max-width:420px) and (min-width:0px){

	p {
	color: #333333;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	}
	#topText {
		visibility:hidden;
	}
	#buttonResource {
	position:absolute;
	top:170px;
	left:15px;
	width: 120px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    }
    #plusResource {
            position:absolute;
            cursor:pointer;
            top:185px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:5;
    }
    #minusResource {
            position:absolute;
            cursor:pointer;
            top:185px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:4;
    }
    #plusAge {
            position:absolute;
            cursor:pointer;
            top:245px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:5;
    }
    #minusAge {
            cursor:pointer;
            position:absolute;
            top:245px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:4;
    }
    #buttonAge {
            position:absolute;
            top:230px;
            left:15px;
            width: 120px;
            height: 50px;
            padding-left:15px;
            cursor:pointer;
            background: #ffffff;
            border-color:#666666;
            border-style:solid;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
    }
    #plusGender {
            cursor:pointer;
            position:absolute;
            top:305px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:5;
    }
    #minusGender {
            cursor:pointer;
            position:absolute;
            top:305px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:4;
    }
    #buttonGender {
            position:absolute;
            top:290px;
            left:15px;
            width: 120px;
            height: 50px;
            padding-left:15px;
            cursor:pointer;
            background: #ffffff;
            border-color:#666666;
            border-style:solid;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
    }
    #plusNational {
            cursor:pointer;
            position:absolute;
            top:365px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:5;
    }
    #minusNational {
            cursor:pointer;
            position:absolute;
            top:365px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:4;
    }
    #buttonNational {
        position:absolute;
            top:350px;
            left:15px;
            width: 120px;
            height: 50px;
            padding-left:15px;
            cursor:pointer;
            background: #ffffff;
            border-color:#666666;
            border-style:solid;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
    }
    #minusLocation {
            cursor:pointer;
            position:absolute;
            top:425px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:4;
    }
    #plusLocation{
            cursor:pointer;
            position:absolute;
            top:425px;
            left:120px;
            width: 25px;
            height: 25px;
            z-index:5;
    }
    #buttonLocation {
        position:absolute;
            top:410px;
            left:15px;
            width: 120px;
            height: 50px;
            padding-left:15px;
            cursor:pointer;
            background: #ffffff;
            border-color:#666666;
            border-style:solid;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
    }
    #results {
            position:absolute;
            top: 170px;
            left: 185px;
            background: #ffffff;
            border: 3px solid #666666;
            padding: 20px;
            width: 50%;
            height: 55%;
            overflow:scroll;
            overflow-x:hidden;
            z-index: 20;
            -moz-border-radius-topleft: 25px;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 0;
            -moz-border-radius-bottomleft: 25px;
            -webkit-border-top-left-radius: 25px;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -webkit-border-bottom-left-radius: 25px;
            border-top-left-radius:25px;
            border-top-right-radius:0;
            border-bottom-right-radius:0;
            border-bottom-left-radius:25px;
    }
    #menuResource {
            color: #333333;
            font-size: 9pt;
    }
    #menuAge {
            color: #333333;
            font-size: 9pt;
    }
    #menuGender {
            color: #333333;
            font-size: 9pt;
    }
    #menuNational {
            color: #333333;
            font-size: 9pt;
    }
}






@media print {
    p {
    font-size: 12px;
    color: #000000;
    }
	H1 {
	color: #000000;
	font-size: 18pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
	H2 {
	color: #000000;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
	H3 {
	color: #000000;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
	H4 {
	color: #000000;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
}