@charset "utf-8";
/* CSS Document */
div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 75%; 
  height: 100%;
  min-width: 200px;
  max-width: 1200px;
  
}
H1 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 18pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
H2 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
H3 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
H4 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
body{
	overflow-x: hidden;
	overflow-y: hidden;
}
p {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
}
span:hover {
	cursor:pointer;
	color: #ae0001;
}
.menu {
	color: #ffffff;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
.checkBox {
	cursor:pointer;
	background: #ffffff;
	border: 1px solid #666666;
	width: 10px;
	height: 10px;
	display:inline-block;
}
#login {
	position:absolute;
	left:820px;
	top:5px;
	width:60px;
	z-index:100;
	cursor:pointer;
	border-style:none;
}
#logout {
	visibility:hidden;
	position:absolute;
	left:820px;
	top:5px;
	width:60px;
	z-index:100;
	cursor:pointer;
	border-style:none;
}
#logo {
	position:absolute;
	top:0px;
	z-index:50;
	
	}
#greyBar {
	position:absolute;
	left:70px;
	top:0px;
	width:100%;
	height:50px;
	padding-top:20px;
	padding-left:80px;
	z-index:31;
	background-color:#333333;
	border-style:none;

}
#redBar {
	position:absolute;
	left:70px;
	top:50px;
	width:100%;
	height:30px;
	padding-left:80px;
	z-index:32;
	background-color:#ae0001;
	border-style:none;
}
#main {
	position:absolute;
	top:175px;
	width:100%;
	z-index:32;
	background-color:#ae0001;
	border-style:none;
}
#buttons {
	background-color:#999999;
	height:100%;
	width:200px;
}
#buttonResource {
	position:relative;
	top:0px;
	left:0px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusResource {
	position:absolute;
	right:10px;
	top:15px;
	cursor:pointer;
	width: 25px;
	height: 25px;
	z-index:5;
}
#minusResource {
	position:absolute;
	right:10px;
	top:15px;
	cursor:pointer;
	width: 25px;
	height: 25px;
	z-index:5;
}
#menuResource {
	position:absolute;
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 225px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 260px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}