@charset "utf-8";

@media print {
    p {
    font-family: verdana, helvetica, lucida-sans, sans-serif;
    font-size: 12px;
    color: #000000;
    }
	H1 {
	color: #000000;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 18pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
	H2 {
	color: #000000;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
	H3 {
	color: #000000;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
	H4 {
	color: #000000;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	}
}
div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 75%; 
  height: 100%;
  min-width: 200px;
  max-width: 1200px;
  
}
H1 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 18pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
H2 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
H3 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
H4 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
body{
	overflow-x: hidden;
	overflow-y: hidden;
}
p {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
}
span:hover {
	cursor:pointer;
	color: #ae0001;
}
.menu {
	color: #ffffff;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
}
#login {
	position:absolute;
	left:820px;
	top:5px;
	width:60px;
	z-index:100;
	cursor:pointer;
	border-style:none;
}
#logout {
	visibility:hidden;
	position:absolute;
	left:820px;
	top:5px;
	width:60px;
	z-index:100;
	cursor:pointer;
	border-style:none;
}
#header {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:150px;
	border-style:none;
}
#grayBar {
	position:absolute;
	left:75px;
	top:0px;
	width:100%;
	height:50px;
	padding-top:20px;
	padding-left:80px;
	z-index:31;
	background-color:#333333;
	border-style:none;
}
#redBar {
	position:absolute;
	left:50px;
	top:50px;
	width:100%;
	height:30px;
	z-index:32;
	background-color:#ae0001;
	border-style:none;
}
#circle {
	position:absolute;
	width: 150px;
	height: 150px;
	z-index:33;
	background-color:#ffffff;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border-radius: 150px;
}
#logo {
	position:absolute;
	left:0px;
	top:0px;
	width: 150px;
	height: 151px;
	border-style:none;
	z-index:34;
}
#buttonResource {
	position:absolute;
	top:170px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusResource {
	position:absolute;
	cursor:pointer;
	top:185px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#minusResource {
	position:absolute;
	cursor:pointer;
	top:185px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:4;
}
#plusAge {
	position:absolute;
	cursor:pointer;
	top:245px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#minusAge {
	cursor:pointer;
	position:absolute;
	top:245px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:4;
}
#buttonAge {
	position:absolute;
	top:230px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusGender {
	cursor:pointer;
	position:absolute;
	top:305px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#minusGender {
	cursor:pointer;
	position:absolute;
	top:305px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:4;
}
#buttonGender {
	position:absolute;
	top:290px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#plusNational {
	cursor:pointer;
	position:absolute;
	top:365px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:5;
}
#minusNational {
	cursor:pointer;
	position:absolute;
	top:365px;
	left:150px;
	width: 25px;
	height: 25px;
	z-index:4;
}
#buttonNational {
    position:absolute;
	top:350px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#menuResource {
	position:absolute;
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 225px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 260px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuLogin {
	position:absolute;
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: -90px;
	left: 545px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 90px;
	z-index:21;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuAge {
	position:absolute;
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 284px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 60px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuGender {
	position:absolute;
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 343px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 60px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#menuNational {
	position:absolute;
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	top: 403px;
	left: 300px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 170px;
	height: 50px;
	z-index:10;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#results {
	position:absolute;
	top: 170px;
	left: 210px;
	background: #ffffff;
	border: 3px solid #666666;
	padding: 20px;
	width: 50%;
	height: 55%;
	overflow:scroll;
	overflow-x:hidden;
	z-index: 20;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 25px;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 25px;
	border-top-left-radius:25px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:25px;
}
#results h1 {
	color: #ae0001;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 14pt;
	font-style:normal;
	font-weight:bolder;
	line-height:0.5;
}
#results h2 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 12pt;
	font-style:italic;
	font-weight:bolder;
	line-height:0.5;
}
#results h4 {
	color: #666666;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style:normal;
	line-height:0.5;
}
#results h5 {
	color: #ae0001;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style:normal;
	line-height:0.5;
}

#breadcrumbs {
	color: #ae0001;
	font-family: verdana, helvetica, lucida-sans, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	position:absolute;
	text-align:center;
	top: 90px;
	left: 210px;
	background: #ffffff;
	padding: 10px;
	width: 50%;
	height: 50px;
	z-index: 20;
}
.checkBox {
	cursor:pointer;
	background: #ffffff;
	border: 1px solid #666666;
	width: 10px;
	height: 10px;
	display:inline-block;
}
#openit {
	visibility:hidden;
    position:absolute;
	top:420px;
	left:15px;
	width: 150px;
	height: 50px;
	padding-left:15px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.buttonSubmit {
	width: 65px;
	height: 25px;
	cursor:pointer;
	background: #ffffff;
	border-color:#666666;
	border-style:solid;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    top: 20px;
    left: 210px;
    width: 55%;
    height: 90%;                 
    padding: 10px;
	padding-left: 30px;
    background: #ffffff;
    z-index:1002;
    overflow:visible;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:60px;
	padding-top:20px;
	padding-left:80px;
	z-index:31;
	background-color:#333333;
	border-style:none;
}